[Unit]
Description=HW05 Server-Side Game Logic

[Service]
Type=simple
User=sanjana5
Group=sanjana5
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4791
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/sanjana5/webdevhw05/bulls
ExecStart=/bin/bash /home/sanjana5/webdevhw05/bulls/start.sh

[Install]
WantedBy=multi-user.target
